{% extends "base.html" %}
{% block  title  %}about{% endblock title %}

{% block body  %}

<section class="about_sec">
    <div class="a_sec_d1">
        <div class="a_sec_d2" style="background-image: url(../static/img/header.jpg);">
            <div class="a_sec_d3">
                <div class="a_sec_d4">
                    <h2 class="d4_h2">About</h2>
                    <p class="">
                    <ul class="d4_ul" class="flex p-0 text-lg font-medium">
                        <li class="d4_ul_li1" ><a href="/" class="li1_a1" >Home</a></li>
                        <li class="d4_ul_li2" >&#x2022;</li>
                        <li class="d4_ul_li3" ><a href="/about" class="li1_a2" >About</a></li>
                    </ul>
                    </p>
                </div>
            </div>
        </div>
    </div>
    
    <div class="write_sec">
        <div class="round">.</div>
        <div class="sec1_con">
            <h1>Traditional & Delicious Ice Cream Since 1950</h1>
        </div>
        <div class="sec2_con">
            <div class="s1">
                <h2>About US</h2>
                <p>Welcome to Joy Scoops
                    At Joy Scoops, we believe that every scoop of ice cream should be a delightful
                    experience. Our journey began with a simple love for ice cream and a passion for creating the
                    most delicious and unique flavors for our community.
                </p>
                <div class="btndiv1"><a href="#"> Learn More </a></div>
            </div>
            <div class="s2"><img src="../static/img/product-5.svg" alt="" srcset="" class="img1"></div>
            <div class="s3"> <h2>Our Flavors</h2>
                <p>
                    At Joy Scoops, we offer a wide variety of flavors to satisfy every palate. From classic favorites like vanilla and chocolate to innovative creations like lavender honey and matcha green tea, there's something for everyone to enjoy. We are always experimenting with new flavors, so be sure to check back often to see what’s new!
                </p></div>
        </div>
    </div>

</section>


{% endblock body %}